.Toolbar {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    top: 0;
    left: 0;
}

.Toolbar nav {
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.Toolbar li {
    height: 100%;
    padding: 10px;
    color: yellow;
}

.Logo {
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}