.NavigationItem {
    width: 100%;
    margin: 10px 0px;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a {
    text-decoration: none;
    color: brown;
    width: 100%;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: black;
}

@media (min-width: 500px) {
    .NavigationItem {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .NavigationItem a {
        text-decoration: none;
        color: white;
        padding: 10px 0px;
        height: 100%;
        margin: 0;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: black;
        height: 100%;
        padding: 10px 0px;
        margin: 0;
        border-bottom: 5px solid blue;
    }
}